.table-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }

  thead{
  background-color: #F0F8FF;
  font-size: 21px;
  color: #23305E;
  }

  tbody{
  font-size: 16px;
  }
  
  th,
  td {
    border: 1px solid #DEDEDE;
    text-align: center;
    padding: 8px;
    font-family: 'Roboto';
  }

  h2{
    font-weight: bold;
    color: #23305E;
    font-size: 28px;
    font-family: 'Roboto';
  }

  .accept{
  color: #FFF;
  background: #167F39;
  padding: 5px 10px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;  
}

  .reject{
    color: #FFF;
    background: #D41212;
    padding: 5px 10px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;  
    }